.emoji {
    font-family:Roboto,Helvetica, Arial, sans-serif;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-user-select: none;
    user-select: none;
}
.emoji:hover{
    background-color: #FCE4EC;
}

.emoji:active{
    background-color: #F48FB1;
}

.emoji-list,
#most-used-emoji {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a.custom-link {
    display: flex;
    align-items: center;
}

.custom-link img {
    height: 10px;
}

.custom-link span {
    font-size: 10px;
}

#body{
    max-width: min(1000px,calc(100% - 32px));
    margin: 0 auto;
    background-color: FFF;
}


  